extends layout

block content
  h1 Welcome To 
    B INVESTR!
  hr
  if isLoggedIn
    p Hello, #{user.username} !
  else
    ul
      li If you have an account, please&nbsp
        a(href='/web/login') Login
        | &nbspto start gaming.
      li Otherwise, please&nbsp
        a(href='#') Sign Up
        | &nbsptoday.
  hr
  h3 Game Menu
  ul
    li
      a(href='/web/all_games') All Games
    li 
      a(href='#') My Games
    li
      a(href='#') Game History
    li
      a(href='/buy_token') Purchase Investr Token