extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/quote') demo to query one stock
    br
  a(href='/joingame') demo to join a game
    br
  a(href='/all_games') List all games (to terminate)
    br
  a(href='/all_transactions') List all transactions
    br
  a(href= '/run') Schedule checkout all games