extends layout

block content
        form#checkout(method='post', action='/payment-methods')
          #payment-form
          input(type='number', name="amount")
          input(type='submit', value='Pay')


block script
  script(src='https://js.braintreegateway.com/js/braintree-2.22.1.min.js')
  script.
      $(document).ready(function(){
        $.get('/client_token', function(Client_Token, status) {
            braintree.setup(Client_Token, "dropin", {
          container: "payment-form"
        });
      })
      })
