table
    tr
      th  User Name
      th  Game Name
      th  Select a Transaction to Enter
    each transaction in transactions
      tr
        td= transaction.attributes.userName
        td= transaction.attributes.gameName
        th
          button(onclick='window.location.href="/in_game/' + transaction.id + '"', value = "Enter")